{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
    {% for client in clients %}
        <p>clientController</p>
        <p>{{ client.NOMCLIENT }}</p>
    {% endfor %}
{% endblock %}
