{% extends 'base.html.twig' %}

{% block body %}


    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Temps travaillé</th>
            <th>Voir plus</th>
        </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td>{{ employe.nom }}</td>
                <td>{{ employe.prenom }}</td>
                <td>{{ employe.tempTravail }}</td>
                <td><a class="btn btn-dark" href="{{ path('view_employe', {'id': employe.id})}}" role="button">Voir plus</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
